
INST "PROC_ADDR<0>" TNM = "PROC_ADDR";
INST "PROC_ADDR<1>" TNM = "PROC_ADDR";
INST "PROC_ADDR<10>" TNM = "PROC_ADDR";
INST "PROC_ADDR<11>" TNM = "PROC_ADDR";
INST "PROC_ADDR<12>" TNM = "PROC_ADDR";
INST "PROC_ADDR<13>" TNM = "PROC_ADDR";
INST "PROC_ADDR<14>" TNM = "PROC_ADDR";
INST "PROC_ADDR<15>" TNM = "PROC_ADDR";
INST "PROC_ADDR<2>" TNM = "PROC_ADDR";
INST "PROC_ADDR<3>" TNM = "PROC_ADDR";
INST "PROC_ADDR<4>" TNM = "PROC_ADDR";
INST "PROC_ADDR<5>" TNM = "PROC_ADDR";
INST "PROC_ADDR<6>" TNM = "PROC_ADDR";
INST "PROC_ADDR<7>" TNM = "PROC_ADDR";
INST "PROC_ADDR<8>" TNM = "PROC_ADDR";
INST "PROC_ADDR<9>" TNM = "PROC_ADDR";
INST "PROC_DATA<0>" TNM = "PROC_DATA";
INST "PROC_DATA<1>" TNM = "PROC_DATA";
INST "PROC_DATA<10>" TNM = "PROC_DATA";
INST "PROC_DATA<11>" TNM = "PROC_DATA";
INST "PROC_DATA<12>" TNM = "PROC_DATA";
INST "PROC_DATA<13>" TNM = "PROC_DATA";
INST "PROC_DATA<14>" TNM = "PROC_DATA";
INST "PROC_DATA<15>" TNM = "PROC_DATA";
INST "PROC_DATA<2>" TNM = "PROC_DATA";
INST "PROC_DATA<3>" TNM = "PROC_DATA";
INST "PROC_DATA<4>" TNM = "PROC_DATA";
INST "PROC_DATA<5>" TNM = "PROC_DATA";
INST "PROC_DATA<6>" TNM = "PROC_DATA";
INST "PROC_DATA<7>" TNM = "PROC_DATA";
INST "PROC_DATA<8>" TNM = "PROC_DATA";
INST "PROC_DATA<9>" TNM = "PROC_DATA";

TIMEGRP "PROC_ADDR" OFFSET = IN 30 ns BEFORE "PROC_NCSEL" LOW ;
TIMEGRP "PROC_DATA" OFFSET = IN 30 ns BEFORE "PROC_NCSEL" LOW ;
TIMEGRP "PROC_DATA" OFFSET = OUT 30 ns AFTER "PROC_NCSEL" LOW ;
TIMEGRP "PROC_ADDR" OFFSET = OUT 30 ns AFTER "PROC_NCSEL" LOW ;

INST "COR_ADDR<0>" TNM = "COR_ADR";
INST "COR_ADDR<1>" TNM = "COR_ADR";
INST "COR_ADDR<10>" TNM = "COR_ADR";
INST "COR_ADDR<11>" TNM = "COR_ADR";
INST "COR_ADDR<12>" TNM = "COR_ADR";
INST "COR_ADDR<13>" TNM = "COR_ADR";
INST "COR_ADDR<14>" TNM = "COR_ADR";
INST "COR_ADDR<15>" TNM = "COR_ADR";
INST "COR_ADDR<16>" TNM = "COR_ADR";
INST "COR_ADDR<17>" TNM = "COR_ADR";
INST "COR_ADDR<18>" TNM = "COR_ADR";
INST "COR_ADDR<2>" TNM = "COR_ADR";
INST "COR_ADDR<3>" TNM = "COR_ADR";
INST "COR_ADDR<4>" TNM = "COR_ADR";
INST "COR_ADDR<5>" TNM = "COR_ADR";
INST "COR_ADDR<6>" TNM = "COR_ADR";
INST "COR_ADDR<7>" TNM = "COR_ADR";
INST "COR_ADDR<8>" TNM = "COR_ADR";
INST "COR_ADDR<9>" TNM = "COR_ADR";

#TIMEGRP "COR_ADR" OFFSET = IN 20 ns BEFORE "PROC_NCSEL" LOW ;
INST "COR_DATA<0>" TNM = "COR_DATA";
INST "COR_DATA<1>" TNM = "COR_DATA";
INST "COR_DATA<10>" TNM = "COR_DATA";
INST "COR_DATA<11>" TNM = "COR_DATA";
INST "COR_DATA<12>" TNM = "COR_DATA";
INST "COR_DATA<13>" TNM = "COR_DATA";
INST "COR_DATA<14>" TNM = "COR_DATA";
INST "COR_DATA<15>" TNM = "COR_DATA";
INST "COR_DATA<2>" TNM = "COR_DATA";
INST "COR_DATA<3>" TNM = "COR_DATA";
INST "COR_DATA<4>" TNM = "COR_DATA";
INST "COR_DATA<5>" TNM = "COR_DATA";
INST "COR_DATA<6>" TNM = "COR_DATA";
INST "COR_DATA<7>" TNM = "COR_DATA";
INST "COR_DATA<8>" TNM = "COR_DATA";
INST "COR_DATA<9>" TNM = "COR_DATA";
#TIMEGRP "COR_DATA" OFFSET = IN 20 ns BEFORE "PROC_NCSEL" LOW ;
#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments
NET "PROC_ADDR<0>"  LOC = "P106" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_ADDR<1>"  LOC = "P107" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_ADDR<2>"  LOC = "P109" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_ADDR<3>"  LOC = "P113" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_ADDR<4>"  LOC = "P115" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_ADDR<5>"  LOC = "P117" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_ADDR<6>"  LOC = "P120" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_ADDR<7>"  LOC = "P123" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_ADDR<8>"  LOC = "P125" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_ADDR<9>"  LOC = "P128" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_ADDR<10>"  LOC = "P132" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_ADDR<11>"  LOC = "P135" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_ADDR<12>"  LOC = "P138" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_ADDR<13>"  LOC = "P140" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_ADDR<14>"  LOC = "P143" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_ADDR<15>"  LOC = "P146" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_DATA<0>"  LOC = "P108" | IOSTANDARD = LVCMOS33  | PULLUP ; 
NET "PROC_DATA<1>"  LOC = "P111" | IOSTANDARD = LVCMOS33  | PULLUP ; 
NET "PROC_DATA<2>"  LOC = "P114" | IOSTANDARD = LVCMOS33  | PULLUP ; 
NET "PROC_DATA<3>"  LOC = "P116" | IOSTANDARD = LVCMOS33  | PULLUP ; 
NET "PROC_DATA<4>"  LOC = "P119" | IOSTANDARD = LVCMOS33  | PULLUP ; 
NET "PROC_DATA<5>"  LOC = "P122" | IOSTANDARD = LVCMOS33  | PULLUP ; 
NET "PROC_DATA<6>"  LOC = "P124" | IOSTANDARD = LVCMOS33  | PULLUP ; 
NET "PROC_DATA<7>"  LOC = "P126" | IOSTANDARD = LVCMOS33  | PULLUP ; 
NET "PROC_DATA<8>"  LOC = "P130" | IOSTANDARD = LVCMOS33  | PULLUP ; 
NET "PROC_DATA<9>"  LOC = "P131" | IOSTANDARD = LVCMOS33  | PULLUP ; 
NET "PROC_DATA<10>"  LOC = "P133" | IOSTANDARD = LVCMOS33  | PULLUP ; 
NET "PROC_DATA<11>"  LOC = "P137" | IOSTANDARD = LVCMOS33  | PULLUP ; 
NET "PROC_DATA<12>"  LOC = "P139" | IOSTANDARD = LVCMOS33  | PULLUP ; 
NET "PROC_DATA<13>"  LOC = "P141" | IOSTANDARD = LVCMOS33  | PULLUP ; 
NET "PROC_DATA<14>"  LOC = "P144" | IOSTANDARD = LVCMOS33  | PULLUP ; 
NET "PROC_DATA<15>"  LOC = "P147" | IOSTANDARD = LVCMOS33  | PULLUP ;
NET "PROC_NCSEL"  LOC = "P57" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "PROC_R_NW"  LOC = "P96" | IOSTANDARD = LVCMOS33 ;
NET "PROC_NDS"  LOC = "P148" | IOSTANDARD = LVCMOS33;
NET "PROC_16MHZ"  LOC = "P180" | IOSTANDARD = LVCMOS33 |PULLUP; 
NET "PROC_GEN"  LOC = "P90" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_SFTCLK"  LOC = "P100" | IOSTANDARD = LVCMOS33 ;
NET "PROC_NIRQ5"  LOC = "P156" | IOSTANDARD = LVCMOS33  | PULLUP ; 
NET "PROC_NIRQ6"  LOC = "P161" | IOSTANDARD = LVCMOS33  | PULLUP ;
NET "PROC_NSS"  LOC = "P154" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_NPSC3"  LOC = "P155" | IOSTANDARD = LVCMOS33 ; 
NET "PROC_MOSI"  LOC = "P150" | IOSTANDARD = LVCMOS33 ;
NET "PROC_MISO"  LOC = "P149" | IOSTANDARD = LVCMOS33 ;
NET "PROC_SCK"  LOC = "P152" | IOSTANDARD = LVCMOS33 ; 
NET "MOSI"  LOC = "P199" | IOSTANDARD = LVCMOS33 ; 
NET "MISO"  LOC = "P200" | IOSTANDARD = LVCMOS33 ; 
NET "SCK"  LOC = "P203" | IOSTANDARD = LVCMOS33 ;
NET "SS2"  LOC = "P101" | IOSTANDARD = LVCMOS33 ; 
NET "SS3"  LOC = "P204" | IOSTANDARD = LVCMOS33 ; 
NET "SS1"  LOC = "P97" | IOSTANDARD = LVCMOS33 ;
NET "PGCK3" LOC = "P95" | IOSTANDARD = LVCMOS33;
NET "NDATA_REQ"  LOC = "P102" | IOSTANDARD = LVCMOS33; 
NET "NDATA_ACK"  LOC = "P94" | IOSTANDARD = LVCMOS33;
NET "MD"  LOC = "P167" | IOSTANDARD = LVCMOS33 ; 
NET "RSTI"  LOC = "P166" | IOSTANDARD = LVCMOS33 ; 
NET "SPEC2RTS"  LOC = "P87" | IOSTANDARD = LVCMOS33 ; 
NET "SPEC2CTS"  LOC = "P93" | IOSTANDARD = LVCMOS33 ; 
NET "DIN"  LOC = "P92" | IOSTANDARD = LVCMOS33 ;
NET "NRLOAD"  LOC = "P3" | IOSTANDARD = LVCMOS33 ;
NET "NRCLR"  LOC = "P2" | IOSTANDARD = LVCMOS33 ;
NET "RSCLK"  LOC = "P205" | IOSTANDARD = LVCMOS33 ;
NET "COR_ADDR<0>"  LOC = "P28" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<1>"  LOC = "P27" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<2>"  LOC = "P26" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<3>"  LOC = "P24" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<4>"  LOC = "P22" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<5>"  LOC = "P21" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<6>"  LOC = "P20" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<7>"  LOC = "P19" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<8>"  LOC = "P13" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<9>"  LOC = "P12" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<10>"  LOC = "P11" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<11>"  LOC = "P10" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<12>"  LOC = "P9" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<13>"  LOC = "P7" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<14>"  LOC = "P5" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<15>"  LOC = "P4" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<16>"  LOC = "P42" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<17>"  LOC = "P18" | IOSTANDARD = LVCMOS33 ; 
NET "COR_ADDR<18>"  LOC = "P16" | IOSTANDARD = LVCMOS33 ;
NET "COR_DATA<0>"  LOC = "P31" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "COR_DATA<1>"  LOC = "P34" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "COR_DATA<2>"  LOC = "P36" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "COR_DATA<3>"  LOC = "P39" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "COR_DATA<4>"  LOC = "P52" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "COR_DATA<5>"  LOC = "P50" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "COR_DATA<6>"  LOC = "P46" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "COR_DATA<7>"  LOC = "P44" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "COR_DATA<8>"  LOC = "P33" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "COR_DATA<9>"  LOC = "P35" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "COR_DATA<10>"  LOC = "P37" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "COR_DATA<11>"  LOC = "P40" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "COR_DATA<12>"  LOC = "P51" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "COR_DATA<13>"  LOC = "P48" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "COR_DATA<14>"  LOC = "P45" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "COR_DATA<15>"  LOC = "P43" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "COR_NWR"  LOC = "P15" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "COR_NRD"  LOC = "P29" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "CHAR_DATA"  LOC = "P94" | IOSTANDARD = LVCMOS33 ; 
#NET "CHAR_LOAD"  LOC = "P102" | IOSTANDARD = LVCMOS33 ; 
#NET "CHAR_SCK"  LOC = "P93" | IOSTANDARD = LVCMOS33 ;
NET "ST1_RYN"  LOC = "P169" | IOSTANDARD = LVCMOS33 ;
NET "FOTO"  LOC = "P80" | IOSTANDARD = LVCMOS33 ;
NET "STAN_FOT"  LOC = "P165" | IOSTANDARD = LVCMOS33 ;
NET "FOT_ACK"  LOC = "P178" | IOSTANDARD = LVCMOS33 ;
NET "SHAFT_IN"  LOC = "P81" | IOSTANDARD = LVCMOS33 ; 
NET "SHAFTB"  LOC = "P175" | IOSTANDARD = LVCMOS33 ; 
NET "FANI"  LOC = "P172" | IOSTANDARD = LVCMOS33 ; 
NET "FANO"  LOC = "P168" | IOSTANDARD = LVCMOS33 ; 
NET "STER_STB"  LOC = "P58" | IOSTANDARD = LVCMOS33 ;  
NET "EXT_STROB"  LOC = "P183" | IOSTANDARD = LVCMOS33 ; 
NET "CNT_END"  LOC = "P185" | IOSTANDARD = LVCMOS33 ;
NET "CNT_CLR"  LOC = "P189" | IOSTANDARD = LVCMOS33 ;
NET "CNT_GATE"  LOC = "P184" | IOSTANDARD = LVCMOS33 ; 
NET "ROBOT"  LOC = "P187" | IOSTANDARD = LVCMOS33 ;
NET "STROB_KOD0"  LOC = "P191" | IOSTANDARD = LVCMOS33 ;
NET "SFT_OUT"  LOC = "P194" | IOSTANDARD = LVCMOS33 ; 
NET "SFT_IN"  LOC = "P190" | IOSTANDARD = LVCMOS33 ; 
NET "CLK_WY0"  LOC = "P196" | IOSTANDARD = LVCMOS33 ; 
NET "ZAPAS_WY0"  LOC = "P181" | IOSTANDARD = LVCMOS33 ; 
NET "RESOUTSF"  LOC = "P197" | IOSTANDARD = LVCMOS33 ; 
NET "LADEXSF"  LOC = "P198" | IOSTANDARD = LVCMOS33 ; 
NET "PILA_GER"  LOC = "P171" | IOSTANDARD = LVCMOS33 ; 
NET "N_RESET"  LOC = "P162"  | IOSTANDARD = LVCMOS33 | PULLUP ; 
NET "INT_USB"  LOC = "P182" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "N_INIT" LOC = "P83" | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "PKR_K"  LOC = "P64" | IOSTANDARD = LVCMOS33 ; 
NET "PKR_S"  LOC = "P62" | IOSTANDARD = LVCMOS33 ; 
NET "PKR_B<0>"  LOC = "P61" | IOSTANDARD = LVCMOS33 ; 
NET "PKR_B<1>"  LOC = "P63" | IOSTANDARD = LVCMOS33 ; 
NET "PKR_B<2>"  LOC = "P65" | IOSTANDARD = LVCMOS33 ; 
NET "PKR_B<3>"  LOC = "P68" | IOSTANDARD = LVCMOS33 ; 
NET "PKR_C<0>"  LOC = "P72" | IOSTANDARD = LVCMOS33 ; 
NET "PKR_C<1>"  LOC = "P76" | IOSTANDARD = LVCMOS33 ; 
NET "PKR_C<2>"  LOC = "P78" | IOSTANDARD = LVCMOS33 ; 
NET "PKR_C<3>"  LOC = "P79" | IOSTANDARD = LVCMOS33 ; 
NET "PKR_D<0>"  LOC = "P67" | IOSTANDARD = LVCMOS33 ; 
NET "PKR_D<1>"  LOC = "P71" | IOSTANDARD = LVCMOS33 ; 
NET "PKR_D<2>"  LOC = "P74" | IOSTANDARD = LVCMOS33 ; 
NET "PKR_D<3>"  LOC = "P77" | IOSTANDARD = LVCMOS33 ; 
  
 

#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints
NET "ST1_RYN" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PROC_R_NW" CLOCK_DEDICATED_ROUTE = FALSE;
NET "N_RESET" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PROC_NCSEL" CLOCK_DEDICATED_ROUTE = FALSE;
NET "SHAFTB" CLOCK_DEDICATED_ROUTE = FALSE;
#PACE: End of Constraints generated by PACE
